<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>
  <% div = Devision.find_by(id:team.devision_id) %>
  <% division = nil %>
  <% unless div == nil then%>
    <% division = div.name %>
  <% end %>
  <% employee = Employee.find_by(id:team.team_lead) %>
    <% lead = nil %>
    <% unless employee == nil then%>
      <% lead = employee.name %>
    <% end %>
  <p>
    <strong>Members:</strong>
    <%= team.members %>
  </p>

  <p>
    <strong>Team lead:</strong>
    <%= team.team_lead %>
  </p>

</div>
