<p style="color: green"><%= notice %></p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
   position: absolute;
  left: 300px;
  top: 200px;
}




li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;

  text-decoration: none;
}



.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


.button {
  background-color: #1CA0F2; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button4 {border-radius: 15px;}

h2 {
  position: absolute;
   left: 300px;
  top: 140px;
}
li a:hover {
  background-color: #555;
  color: white;
}
</style>

<ul style=" list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;">
<li style="color:white; font-size: 20px; position: absolute; left: 30px; top: 25px;  float: left;
  border-right:1px solid #bbb;">HR System Platform</li>
    <%# <li><%= @user.email %>
<li style="float:right; padding: 16px 16px;   display: block; color: white;text-align: center;"><a href="/users/sign_out">Sign out</a></li>
</ul>
<br>
<br>

<h2><%= t 'list.List Of Teams' %></h2>
<br><br><br>
<ul style="width: 250px;  background-color: #f1f1f1;  list-style-type: none; margin: 0; padding: 0;">
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000"><%= t 'Home' %></a></li>
<li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000/users"><%= t 'models.Users' %></a></li> 
 <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/employees"><%= t 'models.Employees' %></a></li>
 <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/teams"><%= t 'models.Teams'%></a></li>
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000/targets"><%= t 'models.Targets' %></a></li>
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/devisions"><%= t 'models.Divisions' %></a></li>
</ul>


<%= button_to "",new_team_path,:class => "fa fa-plus", :style => "border:none; font-size:30px; position: absolute;
  left: 1170px; top:155px;",:method => :get %>
<br>
<br>
<table style="width: 60%" class="center">
<div id="teams">
  
  <tr>
    <th><%= t 'Tables.Teams.ID' %></th>
    <th><%= t 'Tables.Teams.Name' %></th>
    <th><%= t 'Tables.Teams.Description' %></th>
    <th><%= t 'Tables.Teams.Division' %> </th>
    <th><%= t 'Tables.Teams.Team Lead' %> </th>
    <th><%= t 'Tables.Teams.Members' %> </th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
    <% div = Devision.find_by(id:team.devision_id) %>
  <% division = nil %>
  <% unless div == nil then%>
    <% division = div.name %>
  <% end %>
  <% employee = Employee.find_by(id:team.team_lead) %>
    <% lead = nil %>
    <% unless employee == nil then%>
      <% lead = employee.name %>
    <% end %>
    <td><%= team.id %></td>
    <td><%= team.name %></td>
    <td><%= team.description %></td>
    <td><%= division %></td>
    <td><%= lead %></td>
    <td><%= team.members%></td>
    
    
    
  <td><%= button_to t('buttons.Show'), team, :class => "button button4", :method => :get %></td>
  <td><%= button_to t('buttons.Edit'), edit_team_path(team), :class => "button button4", :method => :get %></td>
  <td><%= button_to t('buttons.Delete'), team, :class => "button button4", :method => :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>
<br>
<br><br><br>
<br><br><br>
<br><br><br>
<%= render "footer"%>

