<div id="<%= dom_id devision %>">
  <p>
    <strong>Name:</strong>
    <%= devision.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= devision.description %>
  </p>

  <p>
    <strong>Teams:</strong>
    <%= devision.teams %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= devision.manager %>
  </p>

</div>
