<p style="color: green"><%= notice %></p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
   cursor: pointer;
}

.button4 {border-radius: 15px;}

h1 {
  position: absolute;
  left: 60px;
  top: 70px;
}
</style>

<ul>
  <li><a class="active" href="http://127.0.0.1:3000">Home</a></li>
  <li><a href="http://127.0.0.1:3000/users">Users</a></li>
  <li><a href="http://127.0.0.1:3000/employees">Employees</a></li>
  <li><a href="http://127.0.0.1:3000/teams">Teams</a></li>
  <li><a href="http://127.0.0.1:3000/targets">Targets</a></li>
  <li><a href="http://127.0.0.1:3000/devisions">Division</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul>
</br>
</br>
<h1>Divisions</h1>


<%= button_to "", new_devision_path,:class => "fa fa-plus", :style => "border:none; font-size:30px; position: absolute;
  left: 1300px;",:method => :get %>
<div>
</br>
</br>
<table style="width: 90%"class="center">
<div id="divisions">

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Teams</th>
    <th>Manager</th>
   
  </tr>

  <% @devisions.each do |devision| %>
    <tr>
    <% employee = Employee.find_by(id:devision.manager) %>
    <% manager = nil %>
    <% unless employee == nil then%>
      <% manager = employee.name %>
    <% end %>
    <td><%= devision.name %></td>
    <td><%= devision.description %></td>
     <td><%= devision.teams.collect(&:name).join(',') %></td>
    <td><%= manager %></td>
      
 
      <td><%= button_to "Show", devision, :class => "button button4", :method => :get %></td>
  <td><%= button_to " Edit ", edit_devision_path(devision), :class => "button button4", :method => :get %></td>
  <td><%= button_to "Delete", devision, :class => "button button4", :method => :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>
