<div id="<%= dom_id employee %>">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;

}

.button {
  /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
   cursor: pointer;
}

.button4 {border-radius: 15px;
 background-color: grey;}
.button5 {border-radius: 15px;
 background-color: #80ced6;}
.button6 {border-radius: 15px;
 background-color: red;}
 h2 {
  position: absolute;
  left: 600px;
  top: 70px;

 

}
</style>

<h2>Employee Details</h2>
</br></br></br></br></br></br></br></br>
  <% div = Devision.find_by(id:employee.devision_id) %>
  <% devision = nil %>
  <% unless div == nil then%>
    <% devision = div.name %>
  <% end %>
  <% tm = Team.find_by(id:employee.team_id) %>
  <% team = nil %>
  <% unless tm == nil then%>
    <% team = tm.name %>
  <% end %>

  

</div>
<table style="width: 90%" class="center">
<div id="employees">
<tr>
<th>ID</th>
  <th>Name</th>
  <th>Email</th>
  <th>Job</th>
  <th>Salary</th>
  <th>Employment status</th>
  <th>Division</th>
  <th>Team</th>
</tr>
  <td><%= employee.id %></td>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.job %></td>
  <td><%= employee.salary %></td>
  <td><%= employee.employment_status %></td>
  <td><%= devision %></td>
  <td><%= team %></td>
    <td><%= button_to "Back", employees_path, :class => "button button4", :method => :get %></td>
  <td><%= button_to " Edit ", edit_employee_path(@employee), :class => "button button5", :method => :get %></td>
  <td><%= button_to "Delete", employee, :class => "button button6", :method => :delete %></td>
    </tr>