
<p style="color: green"><%= notice %></p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 300px;
  top: 200px;
}



li a {
  display: block;
  color: white;
  text-align: center;
 text-decoration: none;
  
}



.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


.button {
  background-color: #1CA0F2; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button4 {border-radius: 15px;}

h2 {
  position: absolute;
  left: 300px;
  top: 140px;
}

</style>

<br>
<br>
<h2><%= t 'list.List Of Employees' %></h2>




<%= button_to "", new_employee_path,:class => "fa fa-plus", :style => "border:none; font-size:30px; position: absolute;
  left: 1200px; top: 155px;",:method => :get %>
<div>
<br>
<br>
<table style="width: 60%" class="center">
<div id="employees">
<tr>
<th><%= t 'Tables.Employees.ID' %></th>
  <th><%= t 'Tables.Employees.Name' %></th>
  <th><%= t 'Tables.Employees.Email' %></th>
  <th><%= t 'Tables.Employees.Job' %></th>
  <th><%= t 'Tables.Employees.Salary' %></th>
  <th><%= t 'Tables.Employees.Employment status' %></th>
  <th><%= t 'Tables.Employees.Division' %></th>
  <th><%= t 'Tables.Employees.Team' %></th>
</tr>

<% @employees.each do |employee| %>
  <tr>
  <% div = Devision.find_by(id:employee.devision_id) %>
  <% devision = nil %>
  <% unless div == nil then%>
    <% devision = div.name %>
  <% end %>
  <% tm = Team.find_by(id:employee.team_id) %>
  <% team = nil %>
  <% unless tm == nil then%>
    <% team = tm.name %>
  <% end %>
 <td><%= employee.id %></td>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.job %></td>
  <td><%= employee.salary %></td>
  <td><%= employee.employment_status %></td>
  <td><%= devision %></td>
  <td><%= team %></td>
   
  
  <td><%= button_to t('buttons.Show'), employee, method: :get, class: "button button4"  %></td>
  <td><%= button_to t('buttons.Edit'), edit_employee_path(employee), :class => "button button4", :method => :get %></td>
  <td><%= button_to t('buttons.Delete'), employee, :class => "button button4", :method => :delete %></td>
  </tr>
  
<% end %>
</table>

</div>
</div>
<br>
<br><br><br>
<br><br><br>
<br><br><br>
<%= render "footer"%>
