<p style="color: green"><%= notice %></p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
    position: absolute;
  left: 300px;
  top: 200px;
}



li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center; 
  
  text-decoration: none;
}



.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


.button {
  background-color: #1CA0F2; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button4 {border-radius: 15px;}

h2 {
  position: absolute;
  left: 300px;
  top: 140px;
}
li a:hover {
  background-color: #555;
  color: white;
}
</style>

<ul style=" list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;">
<li style="color:white; font-size: 20px; position: absolute; left: 30px; top: 25px;  float: left;
  border-right:1px solid #bbb;"><%= t 'navbar.HR System Platform' %></li>
    <%# <li><%= @user.email %>
<li style="float:right; padding: 16px 16px;   display: block; color: white;text-align: center;"><a href="/users/sign_out"><%= t 'navbar.Sign Out'%></a></li>
<li style="float:right; padding: 16px 16px;   display: block; color: black;text-align: center;"><a href="/users/sign_up"><%= t 'navbar.Sign Up' %></a></li>
</ul>
<br>
<br>
<h2><%= t 'list.List Of Targets' %></h2>
<br><br><br>

<ul style="width: 250px;  background-color: #f1f1f1;  list-style-type: none; margin: 0; padding: 0;">
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000"><%= t 'Home' %></a></li>
<li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000/users"><%= t 'models.Users' %></a></li> 
 <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/employees"><%= t 'models.Employees' %></a></li>
 <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/teams"><%= t 'models.Teams'%></a></li>
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000/targets"><%= t 'models.Targets' %></a></li>
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/devisions"><%= t 'models.Divisions' %></a></li>
</ul>

<%= button_to "", new_target_path,:class => "fa fa-plus", :style => "border:none; font-size:30px; position: absolute;
  left: 1170px; top: 155px;",:method => :get %>
<div>
<br>
<br>
<table style="width: 60%" class="center">
<div id="targets">

  <tr>
    <th><%= t 'Tables.Targets.Title' %></th>
    <th><%= t 'Tables.Targets.Description' %></th>
    <th><%= t 'Tables.Targets.Start date' %></th>
    <th><%= t 'Tables.Targets.Finish date' %> </th>
    <th><%= t 'Tables.Targets.Team' %></th>
    <th><%= t 'Tables.Targets.Status' %></th>
  </tr>
  <% @targets.each do |target| %>
    <tr>
    <% tm = Team.find_by(id:target.team) %> 
    <% team = nil %>
    <% unless tm == nil then%>
      <% team = tm.name %>
    <% end %>
    <td><%= target.title %></td>
    <td><%= target.description %></td>
    <td><%= target.start_date.strftime("%Y-%m-%d") %></td>
    <td><%= target.finish_date.strftime("%Y-%m-%d") %></td>
    <td><%= team %></td>
    <td><%= target.status %></td>
    
      <td><%= button_to t('buttons.Show'), target, :class => "button button4", :method => :get %></td>
  <td><%= button_to t('buttons.Edit'), edit_target_path(target), :class => "button button4", :method => :get %></td>
  <td><%= button_to t('buttons.Delete'), target, :class => "button button4", :method => :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>
<br>
<br><br><br>
<br><br><br>
<br><br><br>
<%= render "footer"%>
