<p style="color: green"><%= notice %></p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
   position: absolute;
  left: 300px;
  top: 200px;
}





li a {
  display: block;
  color: white;
  text-align: center;
  
  text-decoration: none;
}




.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}


.button {
  background-color: #1CA0F2; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.button4 {border-radius: 15px;}

h2 {
  position: absolute;
  left: 300px;
  top: 140px;
}
li a:hover {
  background-color: #555;
  color: white;
}
</style>

<ul style=" list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;">
<li style="color:white; font-size: 20px; position: absolute; left: 30px; top: 25px;  float: left;
  border-right:1px solid #bbb;">HR System Platform</li>
    <%# <li><%= @user.email %>
<li style="float:right; padding: 16px 16px;   display: block; color: white;text-align: center;"><a href="/users/sign_out">Sign out</a></li>
</ul>
<br>
<br>


<h2>List of Users</h2>
<br><br> <br>
<ul style="width: 250px;  background-color: #f1f1f1;  list-style-type: none; margin: 0; padding: 0;">
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000">Home</a></li>
<li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000/users">Users</a></li> 
 <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/employees">Employees</a></li>
 <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/teams">Teams</a></li>
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;" href="http://127.0.0.1:3000/targets">Targets</a></li>
  <li><a style=" text-decoration: none; padding: 20px 20px; color: #000;"href="http://127.0.0.1:3000/devisions">Division</a></li>
</ul>

<table style="width: 60%" class="center">
<div id="users">
  
  <tr>
  <th>ID</th>
    <th>Email</th>
    <th>picture</th>
    <th>password </th>
   
  </tr>
  <% @users.each do |user| %>
    <tr>
   <td><%= user.id %></td>
    <td><%= user.email %></td>
     <td><%= user.cover %></td> 
    <%# <%= image_tag url_for(cover) %>
<%# <%= link_to rails_blob_path(cover.filename, disposition: "cover") %> 
   
        
        <%# <%= link_to rails_blob_path(cover.filename, disposition: "cover") %> 
   
    
 <%# <td><%= image_tag(@user.cover,size: '250x250') %></td>  
<%# <%= image_tag(@current_user.cover,size: '250x250') %> 
    <td><%= user.encrypted_password %></td>
     <%# <td><%= current_user.sign_in_at %></td> 
 
  
    </tr>
    
  <% end %>
</table>
</div>


<br><br><br><br>

<br><br><br>
<br><br><br>
<br><br><br>
<%= render "footer"%>